* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #6d28d9;
  --font-color-dark: #1f2937;
  --font-color-fade: #374151;
  --background-color-grey: #d1d5db;
}
body {
  font-family: "Roboto", sans-serif;
}

img {
  height: 70px;
}

input {
  height: 2rem;
  width: 35rem;
  outline: none;
  border: none;
  background-color: var(--background-color-grey);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 1.2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Sidebar Style  */
.sidebar-container {
  background-color: var(--main-color);
  grid-row: 1/3;
  padding: 30px 40px 30px 20px;
  display: grid;
  grid-template-columns: 1fr;
}

/* Header Style  */
.header-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px 30px;
  column-gap: 40px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}
.icon-search,
.icon-bell {
  width: 40px;
  font-size: 25px;
  cursor: pointer;
}
.option {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-content: center;
}
.option p {
  font-size: 1.2rem;
  font-weight: bold;
}
.heading {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-content: center;
}
.heading-para {
  font-size: 1.1rem;
  font-weight: 700;
}
.heading-name {
  font-size: 1.6rem;
}
.menu .menu-pack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu-list {
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 9px 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

/* Main Container Style  */
.main-container {
  padding: 20px 20px 30px 10px;
  background-color: var(--background-color-grey);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
}
.project-container {
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: start;
  padding-top: 25px;
  padding-left: 35px;
}
.project-container h3 {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
}
.project {
  height: 250px;
  width: 400px;
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.116);
  border-left: 10px solid #555555;
}
.project-heading p {
  color: var(--font-color-fade);
  font-size: 1rem;
  margin-bottom: 30px;
}
.icons {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.icons i {
  font-size: 1.1rem;
}

.announcement {
  padding: 10px 40px;
}
.announcing {
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px 50px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.116);
}
.announcement h3 {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.announce {
  border-bottom: 2px solid var(--background-color-grey);
}
.announce h4 {
  font-size: 1.1rem;
  margin-top: 25px;
}
.announce p {
  font-size: 1rem;
  margin-bottom: 25px;
}

.trending {
  padding: 25px 40px;
}
.trend {
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.116);
}
.trending h3 {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.trending-inside {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin-bottom: 15px;
}
.trending-text-heading {
  font-size: 1rem;
  font-weight: 700;
}
.trending-text-para {
  font-size: 0.8rem;
}
